services:
	browserConsoleHandler: Monolog\Handler\BrowserConsoleHandler

monolog:
	logDir: %tempDir%/log
	handlers:
		- @browserConsoleHandler
		-
			factory: Monolog\Handler\ChromePHPHandler
		- Monolog\Handler\NewRelicHandler
