monolog:
	logDir: %tempDir%/log
	tracyBaseUrl: https://exception.mallgroup.com
	processors:
		- Monolog\Processor\GitProcessor
		- Monolog\Processor\ProcessIdProcessor
		- Monolog\Processor\WebProcessor
